.form-wrapper
  .main-form
    %h4="Subcategory for #{@category.name}"
    = simple_form_for @simple_form_models, data: { turbo: false } do |f|
      = f.input :name
      = f.input :description
      .form-buttons
        = link_to 'Cancel', categories_path, class: 'btn btn-outline-primary'
        = f.submit class: 'btn btn-primary'
